footer{
    .top-footer{

        min-height: 300px;
        background-image: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        .container{
            .row{
                .col-6.left{

                    padding: 40px 0;
                    h5{
                        color: white;
                    }

                    ul{
                        list-style: none;
                        padding: 0;

                        li{
                            a{
                                text-decoration: none;
                                color: gray;
                                font-size: 0.9rem;
                                &:hover{
                                    color: rgb(194, 194, 194);
                                }
                            }
                        }
                    }

                    p{
                        font-size: 0.9rem;
                        color: gray;

                        span{
                            color: #0c7cec;
                        }
                    }
                }

                .col-6.right{
                    padding: 0;
                    background-image: url(../img/dc-logo-bg.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .bottom-footer{

        background-color: #303030;

        .col-6{
            padding: 20px 0;
            display: flex;
            align-items: center;
        }
        .col-6.left{
            a{
                text-transform: uppercase;
                padding: 10px;
                text-decoration: none;
                color: white;
                border-width: 1px;
                border-style: solid;
                border-image: linear-gradient(to right, rgb(0, 247, 255), rgb(42, 28, 234)) 1;
            }
        }

        .col-6.right{
            justify-content: center;

            span{
                text-transform: uppercase;
                color: #0c7cec;
                font-weight: bold;
            }
            ul{
                list-style: none;
                display: flex;
                align-items: center;

                li{

                    margin: 0 5px;
                    a{
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}